Atmega324p/Atmega324p.atsln
Atmega324p/Atmega324p/Atmega*
Atmega324p/Atmega324p/Debug/*
Atmega324p/.vs/*

ATtiny841/ATtiny841.atsln
ATtiny841/ATtiny841/ATtiny*
ATtiny841/ATtiny841/Debug/*
ATtiny841/.vs/*

JTAG324p/JTAG324p.atsln
JTAG324p/JTAG324p/JTAG*
JTAG324p/JTAG324p/Debug/*
JTAG324p/.vs/*

