Atmega324p/Atmega324p.atsln
Atmega324p/Atmega324p/Atmega*
Atmega324p/Atmega324p/Debug/*
Atmega324p/Atmega324p/.vs/*

ATtiny841/ATtiny841.atsln
ATtiny841/ATtiny841/ATtiny*
ATtiny841/ATtiny841/Debug/*
ATtiny841/ATtiny841/.vs/*
